extends layout
block content
    .row.banner
        .col-12
            h1 The Feed
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-o
                        i.fa.fa-star-o
                    p 125 High Street, Reading, RG6 1PS
                    .card.card-primary
                        .card-block
                            h2.card-title Opening hours
                            p.card-text Monday - Friday : 7:00am - 7:00pm
                            p.card-text Saturday : 8:00am - 5:00pm
                            p.card-text Sunday : closed
                    .card.card-primary
                        .card-block
                            h2.card-title Facilities
                            span.badge.badge-warning
                                i.fa.fa-check
                                | &nbsp;Hot drinks
                            | &nbsp;
                            span.badge.badge-warning
                                i.fa.fa-check
                                | &nbsp;Food
                            | &nbsp;
                            span.badge.badge-warning
                                i.fa.fa-check
                                | &nbsp;Premium wifi
                            | &nbsp;
                .col-12.col-md-6.location-map
                    .card.card-primary
                        .card-block
                            h2.card-title Location map
                            img.img-fluid.rounded(src='/img/img1.jpg')

            p.lead
                |
            p
                |
