extends layout
block content
    .row.banner
        .col-12
            h1 The Feed
    .row
        
                        

            p.lead
                |
            p       This is the feed. It shows multiple pictures from multiple users

            
                |
